/* General Styles */
.section {
  padding: 90px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.textContainer {
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 54px;
  color: #000;
  margin-bottom: 20px;
}

.subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000;
}

.imageTextContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.imageDiv {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.contentContainer {
  flex: 1;
  padding-left: 40px;
}

.contentSection {
  margin-bottom: 40px;
}

.highlight {
  margin-bottom: -30px;
}

.brandingTitle {
  font-family: 'Inter', sans-serif;
  font-size: 54px;
  font-weight: 300;
  text-align: left;
}

.sectionTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #000;
  display: flex;
  align-items: center;
}

.sectionText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #667085;
}

.sectionTextX {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #131414;
}

.icon {
  width: 46px;
  height: 45px;
  margin-left: 10px;
  vertical-align: middle;
  float: right;
  margin-top: -38px;
}

.separator {
  border: 0.5px solid #141313;
  width: 100%;
  margin: 20px 0;
}

.thinner {
  border: 0.25px solid #CACACA;
}

/* Responsive Styles */

/* Medium Screens */
@media (max-width: 1024px) {
  .section {
    padding: 70px 15px;
  }

  .title {
    font-size: 44px;
  }

  .subtitle {
    font-size: 14px;
  }

  .sectionTitle {
    font-size: 22px;
  }

  .sectionText, .sectionTextX {
    font-size: 15px;
  }

  .contentContainer {
    padding-left: 20px;
  }

  .imageDiv {
    max-width: 80%;
  }

  .icon {
    width: 26px;
    height: 26px;
    margin-top: -67px;
  }
}

/* Small Screens (Tablets) */
@media (max-width: 768px) {
  .section {
    padding: 60px 10px;
  }

  .imageTextContainer {
    flex-direction: column;
    align-items: center;
  }

  .contentContainer {
    padding-left: 0;
    margin-top: 20px;
    text-align: center;
  }

  .brandingTitle {
    text-align: center;
  }

  .imageDiv {
    width: 100%;
  }

  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 12px;
  }

  .sectionTitle {
    font-size: 20px;
  }

  .sectionText, .sectionTextX {
    font-size: 14px;
  }
}

/* Mobile Screens */
@media (max-width: 480px) {
  .section {
    padding: 50px 5px;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 11px;
  }

  .sectionTitle {
    font-size: 18px;
  }

  .sectionText, .sectionTextX {
    font-size: 11px;
    text-align: left;
  }

  .image {
    max-width: 100%;
  }

  .icon {
    width: 25px;
    height: 25px;
    margin-top: -56px;
  }

  .separator {
    margin: 10px 0;
  }
}
