/* Wrapper for the entire section */
.howItsWorksWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header section */
.howItsWorksHeader {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 52px;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.47px;
    text-transform: uppercase;
    color: #000;
}

.howItsWorksColumns {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    width: 100%;
    max-width: 1200px; 
    box-sizing: border-box;
}

.leftColumn {
    background: #101828;
    color: #fff;
    padding: 20px;
    border-radius: 12px;
    max-width:100% ;

}

.leftColumnHeading,
.sectionHeading {
    font-size: 35px;
    line-height: 57px;
    letter-spacing: -1.325px;
    text-transform: uppercase;
}

/* Center column */
.centerColumn,
.rightColumn {
    background: #F1F1F1;
    padding: 20px;
    border-radius: 10px;
    
}

.sectionText,
.rightColumnText {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.67px;
}
.rightColumnHeading{
    font-size: 35px;
    line-height: 57px;
    letter-spacing: -1.325px;
    text-transform: uppercase;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .howItsWorksColumns {
        flex-direction: column;
        gap: 20px;
    }
 

   
    .howItsWorksHeader {
        font-size: 36px;
    }

    .leftColumnHeading,
    .sectionHeading {
        font-size: 32px;
    }

    .sectionText,
    .rightColumnText {
        font-size: 18px;
    }
}
