.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 112px 173px 112px;
}

.reviewSection {
  display: flex;
  padding: 40px 64px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 12px;
  background: #161b24;
}

.review {
  display: flex;
  flex-direction: column;
}

.reviewTitle {
  color: var(--white);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 23px;
}

.reviewDescription {
  color: var(--Base-White, var(--white));
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 32px;
}

.clientName {
  color: var(--Base-White, var(--white));
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 4px;
}

.clientDesignation {
  color: #eaecf0;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}
