.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 115px;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #161b24;
  text-align: center;
  font-family: "SF Pro";
  font-size: 40px;
  font-style: normal;
  font-weight: 590;
  line-height: normal;
  letter-spacing: 2px;
}

.square {
  width: 23px;
  height: 23px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--Gray-600);
}

.solutionList {
  display: flex;
  flex-direction: row;
  column-gap: 22px;
  margin-top: 26px;
}

.solution {
  display: flex;
  flex-direction: column;
  display: flex;
  padding: 40px 64px 178px 65px;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  border-radius: 10px;
  background: #ebf4fa;
}

.solutionTitle {
  color: #161b24;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.solutionIcon {
  margin-bottom: 10px;
}

.solutionDescription {
  color: var(--Gray-600);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.selectedSolution {
  border-radius: 10px;
  border: 1px solid var(--Gray-600);
  background: var(--white);
  box-shadow: 0px 19px 59.3px 0px rgba(22, 27, 36, 0.08);
  padding: 40px 18.5px 47px 17.5px;
}

.selectedSolution .solutionIcon {
  margin-bottom: 39px;
}

.blackSquare {
  width: 23px;
  height: 23px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--Gray-600);
  margin: 72px 0px 125px 0px;
}
