/* General Wrapper for the Component */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 90px;
}

/* Arrow Styling */
.arrowLeft, .arrowRight {
  position: absolute;
  top: -40px; 
  right: 60px;
  z-index: 2;
  cursor: pointer;
  font-size: 24px; 
  color: #161b24;
  filter: opacity(1);

}

.arrowLeft {
  right: 100px; 
}

/* Square Div for Image Carousel */
.square {
  display: flex;
  width: 1616px;
  height: 444px;
  gap: 20px;
  overflow: hidden;
  position: relative;
  align-items: center;
}

/* Image Wrapper */
.imageWrapper {
  width: 536px; /* Width for each image container */
  height: 100%;
}

/* Image Styling */
.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure images cover the area */
  display: block;
}

/* View All Work Button */
.viewAllWorkWrapper {
  margin-top: 50px; /* Space between content and button */
}

.viewAllWorkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 28px;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.viewAllWorkButton:hover {
  background-color: #f0f0f0;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .square {
    width: 1200px;
    height: 350px;
  }

  .imageWrapper {
    width: 400px;
  }

  .arrowLeft, .arrowRight {
    font-size: 20px; /* Smaller arrows */
  }

  .arrowLeft {
    right: 80px;
  }

  .arrowRight {
    right: 40px;
  }
}

@media (max-width: 768px) {
  .square {
    width: 768px;
    height: 250px;
  }

  .imageWrapper {
    width: 256px;
  }

  .arrowLeft, .arrowRight {
    font-size: 18px;
  }

  .arrowLeft {
    right: 60px;
  }

  .arrowRight {
    right: 20px;
  }
}

@media (max-width: 480px) {
  .square {
    width: 100%;
    height: 200px;
  }

  .imageWrapper {
    width: 350px;
  }

  .arrowLeft, .arrowRight {
    font-size: 16px;
  }

  .arrowLeft {
    right: 50px;
  }

  .arrowRight {
    right: 10px;
  }
}
